
<p class="success_message"><%= flash[:success] %></p>


<h1>welcome to Bookers !!</h1>
<p>In Bookers,you can share and exchange your opinions , inpressions , and emotionsabout varioius books!</p>
<p><%= link_to "Log in", new_user_session_path, class: "sign_in" %></p>
<p><%= link_to "Sign Up", new_user_registration_path, class: "logout" %></p>